{% block anuj %}
<!DOCTYPE html>
<html>

    <head>
      {% load staticfiles %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Tracking Syatem</title>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
         <!-- Bootstrap CSS CDN -->
       <link rel="stylesheet" href="{% static 'css/custom.css' %}">
        <link rel="stylesheet" href="{% static 'css/log.css' %}">
        <link rel="stylesheet" href="{% static 'css/cust.css' %}">    
           <link rel="stylesheet" href="{% static 'css/ttt.css' %}">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open-Sans">
  <style>
   *{
    font-family : 'Open Sans' , sans-serif;
  }
   #map {
        width: 100%;
        height: 400px;
         
      }


</style>
    </head>
    <body>

    <div class="container">
   <div class="row">
       
   <div class="col-sm-6">
       
<!-- Large modal -->
 
<div class="modal " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="false" style="margin-top:102px;" class="img-responsive">
    <div class="modal-dialog modal-md">
        <div class="modal-content" style="background-color:lightblue">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="false" ><span style="color:red">
                    ×</span></button>
                <h4 class="modal-title" id="myModalLabel">
                    Login/Registration </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#Login" data-toggle="tab">Login</a></li>
                            <li><a href="#Registration" data-toggle="tab">Registration</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="Login">
                                <form role="form" class="form-horizontal">
                                  {% csrf_token %}
                                <div class="form-group">
                                    <label for="username" class="col-sm-2 control-label">
                                        Username</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="username" placeholder="username" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1" class="col-sm-2 control-label">
                                        Password</label>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control" id="Password1" placeholder="password" />
                                    </div>
                                </div>
                                   <div class="row">
                                    <div class="col-sm-2">
                                    </div>
                                    <div class="col-sm-10">
                                        <button type="submit" class="btn btn-primary btn-sm" name="submit" value="submit">
                                            Submit </button>
                      
                                        <a href="javascript;">Forgot your password?</a>
                                    </div>
                                </div>
                                </form>
                            </div>
                            <div class="tab-pane" id="Registration">
                                <form role="form" class="form-horizontal">
                                     {% csrf_token %}
                                <div class="form-group">
                                    <label for="username" class="col-sm-2 control-label">
                                        UserName</label>
                                    <div class="col-sm-10">
                                        <div class="row">
                                            <div class="col-md-5">
                                              <input type="text" class="form-control" placeholder="Username" name="Username" />  
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="email" class="col-sm-2 control-label">
                                        Email</label>
                                    <div class="col-sm-10">
                                        <div class="row">
                                            <div class="col-md-5">
                                              <input type="email" class="form-control" placeholder="Email" name="email" />  
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="col-sm-2 control-label">
                                       Password</label>
                                    <div class="col-md-6">
                                        <input type="password" class="form-control" id="license" placeholder="password" name="password" />
                                    </div>
                                </div>
                                
                  <div class="form-group">
                                    <label for="password" class="col-sm-2 control-label">
                                       ConfirmPassword</label>
                                    <div class="col-md-6">
                                        <input type="password" class="form-control" id="license" placeholder="Confirmpassword" name="Confirmpassword" />
                                    </div>
                                </div>

                   
                    

                           

                                  
                <div class="row">
                                    <div class="col-sm-2">
                                    </div>
                                    <div class="col-sm-6">
                                        <button type="submit" class="btn btn-primary btn-sm">
                                            Save & Continue</button>
                                         <button type="button"  class="btn btn-primary btn-sm" class="close" data-dismiss="model" aria-hidden="false" >
                    Cancel</button>
                                    </div>
                                </div>
                                </form>


                            </div>

                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

       </div>
       <div class="col-md-6"></div>
      </div>
      
      </div>


<div class="container">
   <div class="row">
       
   <div class="col-sm-6">
       
<!-- Large modal -->
 
<div class="modal" id="myModa" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="false" style="margin-top:102px class="img-responsive">
    <div class="modal-dialog modal-md">
        <div class="modal-content" style="background-color:lightblue">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="false" ><span style="color:red">
                    ×</span></button>
                <h4 class="modal-title" id="myModalLabel">
                    Register Your Vehicle</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#Registration" data-toggle="tab">Registration</a></li>
                             
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="Login">

                                <form role="form" class="form-horizontal" action="" method="POST">
                                    {% csrf_token %}
                                <div class="form-group">
                                    <label for="name" class="col-sm-2 control-label">
                                        VehicleName</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="VehicleName" placeholder="VehicleName" name="VehicleName" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="VehicleNo" class="col-sm-2 control-label">
                                      VehicleNo.</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="VehicleNo" placeholder="VehicleNo" name="VehicleNo" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="OwnerName" class="col-sm-2 control-label">
                                        OwnerName</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="OwnerName" placeholder="OwnerName" name="OwnerName" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="BuyDate" class="col-sm-2 control-label">
                                        BuyDate</label>
                                    <div class="col-sm-6">
                                        <input type="date" class="form-control" id="mobile" placeholder="BuyDate" name="BuyDate" />
                                    </div>
                                </div>
                                   <div class="row">
                                    <div class="col-sm-2">
                                    </div>
                                    <div class="col-sm-10">
                                        <button type="submit" class="btn btn-primary btn-sm" name="submit" value="Vehicle">
                                            Submit </button>
                       
                                         
                                    </div>
                                </div>
                                </form>
                            </div>



                            

                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

       </div>
       <div class="col-md-6"></div>
      </div>
      
      </div>



<div class="container">
   <div class="row">
       
   <div class="col-sm-6">
       
<!-- Large modal -->
 
<div class="modal" id="myMod" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="false" style="margin-top:102px">
    <div class="modal-dialog modal-md">
        <div class="modal-content" style="background-color:lightblue">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="false" ><span style="color:red">
                    ×</span></button>
                <h4 class="modal-title" id="myModalLabel">
                    Register Driver</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#Login" data-toggle="tab">Registration</a></li>
                             
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="Login">

                               <form role="form" class="form-horizontal" action="{% url 'track:index1' %}" method="POST">
                                     {% csrf_token %}
                                <div class="form-group">
                                    <label for="name" class="col-sm-2 control-label">
                                        Name</label>
                                    <div class="col-sm-10">
                                        <div class="row">
                                            <div class="col-md-5">
                                              <input type="text" class="form-control" placeholder="DriverName" name="DriverName" />  
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="license_no" class="col-sm-2 control-label">
                                       license_no</label>
                                    <div class="col-md-6">
                                        <input type="number" class="form-control" id="license" placeholder="license_no" name="license_no" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="address" class="col-sm-2 control-label">
                                        address</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="address" placeholder="City" name="address" />
                                    </div>
                                </div>
                 <div class="form-group">
                                    <label for="Contact_no" class="col-sm-2 control-label">
                                        Contact_no</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id="contact" placeholder="ContactNo." name="Contact_no" />
                                    </div>
                                </div>

                   <div class="form-group">
                                    <label for="expiry" class="col-sm-2 control-label">
                                        license_expiry_date</label>
                                    <div class="col-md-6">
                                        <input type="date" class="form-control" id="expiry" placeholder="expiryDate" name="license_expiry_date" />
                                    </div>
                                </div>
                    

                          <fieldset class="form-group">
   
      <label class="col-form-label col-sm-2 ">Gender</label>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gender" id="male" value="option1" checked>
          <label class="form-check-label" for="Male">
            Male
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gender" id="Female" value="option2">
          <label class="form-check-label" for="Female">
            Female
          </label>
        </div>
        
      </div>
    
  </fieldset>      

                                  
                <div class="row">
                                    <div class="col-sm-2">
                                    </div>
                                    <div class="col-sm-6">
                                        <button type="submit" class="btn btn-primary btn-sm">
                                            Save & Continue</button>
                       
                                         
                                    </div>
                                </div>
                                </form>
                            </div>



                            

                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

       </div>
       <div class="col-md-6"></div>
      </div>
      
      </div>







        <div class="wrapper">
            <!-- Sidebar Holder -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3>Vehicle Tracking System</h3>
                </div>

                <ul class="list-unstyled components">
                    <p>Dashboard</p>
                    <li class="active">
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Home</a>
                         
                    </li>
                    <li>
                        <a href="#">About</a>
                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Information</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li><a href="{% url 'track:driver_info' %}">Drivers</a></li>
                            <li><a href="{% url 'track:vehicle_info' %}">Vehicle</a></li>
                             
                        </ul>
                    </li>
                    <li>

                       <a href="#" data-toggle="modal" data-target="#myModa">Register Vehicle</a>
                       <a href="#" data-toggle="modal" data-target="#myMod">Register Driver</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                        <a href="#">Logout</a>
                    </li>
                </ul>

                
            </nav>

            <!-- Page Content Holder -->
            <div id="content">

                <nav class="navbar navbar-default">
                    <div class="container-fluid" >

                        <div class="navbar-header">
                            <button type="button" id="sidebarCollapse" class="navbar-btn">
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <button type="button" class="btn btn-warning navbar-btn navbar-right" data-toggle="modal" data-target="#myModal" style="margin-left:10px">Signup</button>
    <button type="button" class="btn btn-success navbar-btn navbar-right" data-toggle="modal" data-target="#myModal">Login</button>
                                
                            </ul>
                        </div>
                    </div>
                </nav>

               {% block body %}
            {% endblock %} 
                
                 
                 
        
      
    

            </div>
        </div>



 

        <!-- jQuery CDN -->
         <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
         <!-- Bootstrap Js CDN -->
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

         <script type="text/javascript">
             $(document).ready(function () {
                 $('#sidebarCollapse').on('click', function () {
                     $('#sidebar').toggleClass('active');
                     $(this).toggleClass('active');
                 });
             });
         </script>



     <script>
    function initMap(){
      // Map options
      var options = {
        zoom:4,
        center:{lat:20.5937,lng:78.9629}
      }

      // New map
      var map = new google.maps.Map(document.getElementById('map'), options);

      // Listen for click on map
       

      
      var markers = [
        {
          coords:{lat:23.1815,lng:79.9864},
           iconImage:'https://maps.google.com/mapfiles/ms/icons/yellow.png',
          content:'<h3>Scheduled</h3>'
        },
        {
          coords:{lat:19.0760,lng:72.8777},
          iconImage:'https://maps.google.com/mapfiles/ms/icons/red.png',
          content:'<h3>Stop</h3>'
        },
        {
          coords:{lat:21.2514,lng:81.6296},
          iconImage:'https://maps.google.com/mapfiles/ms/icons/green.png',
          content:'<h3>Running</h3>'
        },
        {
          coords:{lat:13.0827,lng:80.2707},
          iconImage:'https://maps.google.com/mapfiles/ms/icons/red.png',
          content:'<h3>Stop</h3>'
        },
         
      ];

      // Loop through markers
      for(var i = 0;i < markers.length;i++){
        // Add marker
        addMarker(markers[i]);
      }

      // Add Marker Function
      function addMarker(props){
        var marker = new google.maps.Marker({
          position:props.coords,
          map:map,
          //icon:props.iconImage
        });

        // Check for customicon
        if(props.iconImage){
          // Set icon image
          marker.setIcon(props.iconImage);
        }

        // Check content
        if(props.content){
          var infoWindow = new google.maps.InfoWindow({
            content:props.content
          });

          marker.addListener('click', function(){
            infoWindow.open(map, marker);
          });
        }
      }
    }
  </script>


    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDY0Un8yFdxJE8i6gXwtjQCRjGbEOXwCLY&callback=initMap">
    </script>    
    <script src=" https://maps.googleapis.com/maps/api/distancematrix/json?units=imperial&origins=jabalpur&destinations=iiitdm+jabalpur&key=AIzaSyDY0Un8yFdxJE8i6gXwtjQCRjGbEOXwCLY">
    </body>
</html>
{% endblock %}
