{% extends 'TrackingSystem/base.html' %}
{% load staticfiles %}
{% block body %}
<div class="row-fluid" style="margin-top:-50px">
          
        <div class="col-md-4" style="margin-top: 9px">
            {% for a in all_driver %}  
                  {% if a.vehicle_no.vehicle_status == 0 %}
            <div class="row" style="height: 140px;box-shadow: 5px 10px;background-color: #F7CA18">
                <div class="col-md-7">
                   <img src="{% static "people.png" %}" class="img-fluid pull-left" alt="Responsive image" height="70px" width="70px">
                      <h5> <b> {{a.driver_name}}</b><br>
                              {{a.contact_no}}<br>
                     {{a.vehicle_no}}<br></h5>
                </div>
                <div class="col-md-2">
                     
                </div>
                <div class="col-md-3" style="margin-top: 10px">
                    
                         
                            <h5>Scheduled</h5>
                          
                    

                   
                </div>
            </div>   
            <div class="row" style="margin-top: -65px;height:65px">
                <div class="col-md-12" >
                     <p style="margin-top: -1px"><b>{{a.vehicle_no.current_position}}</b></p> 
                     <div class="row" style= "margin-top: -13px;background-color:#FAA18F  ">
                           <b style="margin-left: 30px">Last update 30 minutes ago</b>
                     </div>
                </div> 
                
            </div> 

            <br>
              {% endif %}
              {% if a.vehicle_no.vehicle_status == 1 %}
            <div class="row" style="height: 140px;box-shadow: 5px 10px;background-color:#A9FA8F">
                <div class="col-md-7">
                   <img src="{% static "people.png" %}" class="img-fluid pull-left" alt="Responsive image" height="70px" width="70px">
                      <h5> <b> {{a.driver_name}}</b><br>
                              {{a.contact_no}}<br>
                     {{a.vehicle_no}}<br></h5>
                </div>
                <div class="col-md-2">
                     
                </div>
                <div class="col-md-3" style="margin-top: 10px">
                    
                         
                            <h5>Running</h5>
                          
                    

                   
                </div>
            </div>   
            <div class="row" style="margin-top: -65px;height:65px">
                <div class="col-md-12" >
                     <p style="margin-top: -1px"><b>{{a.vehicle_no.current_position}}</b></p> 
                     <div class="row" style= "margin-top: -13px;background-color: #FAA18F    ">
                           <b style="margin-left: 30px">Last update 40 sec ago</b>
                     </div>
                </div> 
                
            </div> 

            <br>
              {% endif %}
              {% if a.vehicle_no.vehicle_status == -1 %}
            <div class="row" style="height: 140px;box-shadow: 5px 10px;background-color: #F9690E">
                <div class="col-md-7">
                   <img src="{% static "people.png" %}" class="img-fluid pull-left" alt="Responsive image" height="70px" width="70px">
                      <h5> <b> {{a.driver_name}}</b><br>
                              {{a.contact_no}}<br>
                     {{a.vehicle_no}}<br></h5>
                </div>
                <div class="col-md-2">
                     
                </div>
                <div class="col-md-3" style="margin-top: 10px">
                    
                         
                            <h5>Stop</h5>
                          
                    

                   
                </div>
            </div>   
            <div class="row" style="margin-top: -65px;height:65px">
                <div class="col-md-12" >
                     <p style="margin-top: -1px"><b>{{a.vehicle_no.current_position}}</b></p> 
                     <div class="row" style= "margin-top: -13px;background-color: #FAA18F  ">
                           <b style="margin-left: 30px">Last update 30 sec ago</b>
                     </div>
                </div> 
                
            </div> 

            <br>
              {% endif %}
            {% endfor %}
        </div>

 



        <div class="col-md-8" style="margin-top: 10px">
    <div id="map"></div>
</div>
</div>
{% endblock %}